.result
  %h2.title
    %a{:href => result["fields"]["url"][0]}
      = result["fields"]["title"][0]
  
  %span.breadcrumbs
    - parse_date = Date.parse(result["fields"]["date"][0])
    %a{:href => hansard_part_link(result["_index"], parse_date)}
      =result["_index"].gsub("_", " ").split(/(\W)/).map(&:capitalize).join
      =parse_date.strftime("%e %b %Y")
    
    &rsaquo;
    
    %a{:href => hansard_component_link(result["fields"]["url"][0])}
      =result["fields"]["hansard_component"][0]
  
  %span.citation
    =result["fields"]["hansard_ref"][0]
    - if result["fields"]["number"]
      - if result["_type"] == "question"
        = " - Question: #{result["fields"]["number"][0]}"
    - if result["fields"]["chair"]
      = " - Chair: #{result["fields"]["chair"].join(" / ")}"
  
  - if result["highlight"]
    %span.text
      =format_highlights(result["highlight"]["text"])
  - if result["fields"]["members"] and result["_type"] != "division"
    %span.contributors
      = prepare_contributors(result["fields"]["members"])