.result
  %span.title
    %a{:href => result["fields"]["url"]}
      = result["fields"]["title"]
  
  %span.breadcrumbs
    - parse_date = Date.parse(result["fields"]["date"])
    %a{:href => hansard_part_link(result["_index"], parse_date, result["fields"]["url"])}
      =result["_index"].gsub("_", " ").split(/(\W)/).map(&:capitalize).join
      =parse_date.strftime("%e %b %Y")
    
    &rsaquo;
    
    - component = result["fields"]["hansard_component"]
    
    %a{:href => hansard_component_link(result["fields"]["url"])}
      =component
      
  - if result["fields"]["members"] and result["_type"] != "division"
    %span.contributors
      = prepare_contributors(result["fields"]["members"])
      
  - if result["highlight"]
    %span.text
      =format_highlights(result["highlight"]["text"])
      
  %span.citation
    =result["fields"]["hansard_ref"]
    - if result["fields"]["number"]
      - if component == "Written Answers" or component == "Debates and Oral Answers"
        = " - Question #{result["fields"]["number"]}"
      - if component == "Petitions"
        = " - Petition #{result["fields"]["number"]}"
    - if result["fields"]["chair"]
      = " - Chair. #{result["fields"]["chair"].join(" / ")}"
  